@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

:root {
    --main-color: #e8786e;
    --black: #555;
    --light-color: #777;
    --bg: #fceae9;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}


section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    color: var(--black);
}

.heading span {
    color: var(--main-color);
    border-radius: .5rem;
    background: var(--bg);
    padding: 0 1.5rem;
}




.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    background: var(--black);
    z-index: -1;
    transition: .2s ease-out;
}

.btn:hover::before {
    left: 0;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .navbar a {
    font-size: 1.7rem;
    margin-left: 2rem;
}

.header .navbar a:hover {
    color: var(--main-color);
}

#menu-btn {
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.3rem;
    border-radius: .5rem;
    color: var(--main-color);
    background: var(--bg);
    display: none;
}

#menu-btn:hover {
    color: #fff;
    background: var(--main-color);
}




/* CSS cho nút Login */
.loginbtn {
    background-color: #e8786e;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.loginbtn:hover{
    background-color: #ddd;
}

/*---------end-------------*/

.sec:nth-child(odd) {
    background: #ddd;
}

.sec {
    align-items: center;
    justify-content: center;
    color: #777;
    background: #f9f9f9;
}

#client {
    width: 100%;
    padding: 80px 0 40px 0;
}

.box-wrapper {
    position: relative;
    display: table;
    width: 1100px;
    margin: auto;
    margin-top: 35px;
    border-radius: 30px;
}

.info-wrap {
    width: 35%;
    height: 559px;
    padding: 40px 40px 40px 35px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgb(152, 86, 174) 0%, rgb(74, 69, 134) 49%);
    color: #fff;
}

.info-title {
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.info-sub-title {
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}

.info-details {
    list-style: none;
    margin: 60px 0px;
}

.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}

.info-details li i {
    background: #e8786e;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.info-details li a {
    color: #fff;
    text-decoration: none;
}

.info-details li a:hover {
    color: #e8786e;
}

.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}

.social-icons li {
    display: inline-block;
}

.social-icons li i {
    background: #e8786e;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}

.social-icons li i:hover {
    background: #fff;
    color: #000000;
}

.form-wrap {
    width: 65%;
    float: right;
    padding: 40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}

.form-title {
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.form-fields {
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}

.form-fields input,
.form-fields textarea {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    width: 100%
}

.form-fields textarea {
    height: 150px;
    resize: none;
}

.form-group {
    width: 46%;
    float: left;
    padding: 0px 20px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.form-fields .form-group:last-child {
    width: 96%;
}

.submit-button {
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;
    ;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background: #e8786e;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}

.submit-button:hover {
    background: #ddd;
    color: #e8786e
}

.navbar1 {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    z-index: 1000;
}

.navbar1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar1 ul li {
    width: 200px;
    position: relative;
    text-align: right;
}

.navbar1 ul li .dot {
    color: #fff;
    display: block;
    padding: 5px 0;
}

.navbar1 ul li .dot span {
    display: inline-block;
    background: #e8786e;
    letter-spacing: 1px;
    padding: 10px 25px;
    margin-right: 30px;
    border-radius: 3px;
    transform: translateX(30px);
    opacity: 0;
}

.navbar1 ul li:hover .dot span {
    transform: translateX(0px);
    opacity: 1;
}

.navbar1 ul li .dot span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(7px, -50%);
    border-left: 7px solid #e8786e;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    display: block;
}

.navbar1 ul li .dot::before,
.navbar1 ul li .dot::after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
}

.navbar1 ul li .dot::before {
    height: 5px;
    width: 5px;
    border: 2px solid #333;
    right: 0;
    transform: translateY(-50%);
}

.navbar1 ul li .dot.active::before,
.navbar1 ul li:hover .dot::before {
    border-color: #f44336;
    background: #f44336;
}

.navbar1 ul li .dot::after {
    height: 15px;
    width: 15px;
    border: 2px solid #f44336;
    right: -5px;
    transform: translateY(-50%) scale(0);
}

.navbar1 ul li .dot.active::after,
.navbar1 ul li:hover .dot::after {
    transform: translateY(-50%) scale(1);
}

/* -------------------Footer----------------*/
.footer {
    margin-top: 1rem;
    background: var(--bg);
    padding-bottom: 9rem;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--light-color);
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--main-color);
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    color: var(--black);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
}

.footer .credit span {
    color: var(--main-color);
}

/* -------------------end----------------*/




/* -------------------Reponsive----------------*/
@media only screen and (max-width: 767px) {
    .box-wrapper {
        width: 100%;
    }

    .info-wrap,
    .form-wrap {
        width: 100%;
        height: inherit;
        float: none;
    }

    .info-wrap {
        border-radius: 30px 30px 0px 0px;
    }

    .form-wrap {
        border-radius: 0px 0px 30px 30px;
    }

    .form-group {
        width: 100%;
        float: none;
        margin: 25px 0px;
    }

    .form-fields .form-group:last-child,
    .submit-button {
        width: 100%;
    }

    .submit-button {
        margin: 10px 0px;
    }

}

/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 115%;
        right: 2rem;
        background: #fff;
        box-shadow: var(--box-shadow);
        border: var(--border);
        border-radius: .5rem;
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
    }

    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
    }

    .header .navbar a {
        font-size: 2rem;
        display: block;
        padding: 1rem;
        margin: 1rem;
        border-radius: .5rem;
    }

    .header .navbar a:hover {
        background: var(--bg);
    }

    .home .content {
        text-align: center;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}
